<div class="container">
  <!-- <ng-content></ng-content> -->
  <div class="row p-0 m-0">
    <div class="col-sm"></div>
    <div class="col-sm p-5">
      <div class="login_wrap">
        <div class="avatar">
          <h2 class="text-center" style="color: #004e00;">Reset Password</h2>
        </div>
        <form (ngSubmit)="submit()" #registerForm="ngForm">
          <label for="inputEmail" class="sr-only">Email address</label>
          <!-- <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required
        autofocus> -->
          <!--<input  type="text"     class="form-control"   [(ngModel)]="loginEmail"     name="loginEmail"    aria-describedby="emailHelp"        placeholder="Email"             required-->
          <input type="email" id="inputEmail" class="form-control" [(ngModel)]="loginEmail" name="loginEmail"
            placeholder="Enter email" required email autofocus />
          <br />
          <label for="inputPassword" class="sr-only">Password</label>
          <!-- <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password"
        required> -->

          <input type="password" id="inputPassword" [(ngModel)]="resetPassword" name="resetPassword"
            placeholder="Password" required class="form-control" />
          <br />
          <div class="form-group social-btn">
            <button class="btn btn-success" [disabled]="registerForm.invalid" type="submit"> Reset
              password</button>
            <button class="btn pull-right btn-danger" type="button" (click)="cancel()"><i class="fa fa-ban"></i>
              Cancel</button>
          </div>
        </form>
        <!-- <button class="btn btn-lg btn-block loginbtn" type="button" (click)="signinFunction()">Sign in</button> -->
      </div>
    </div>
    <div class="col-sm"></div>
  </div>
</div>